.footer {
  font-family: "Avenir Next";
  background-color: black;
  color: #fff;
  height: 300px;
  position: relative;
  top: 50px;
}

.footer-logo {
  float: left;
  font-size: 32px;
  position: absolute;
  left: 20px;
}

.footer-logo img{
   position: relative;
   left: 900px;
   top: 20px;
}
.btn{
   float: left;
   color: inherit;
   padding-right: 10px;
   padding-top: 10px;
   position: relative;
   left: 20px;
   top: 70px;
   font-size: 20px;
}

.fa{
   color: white;
   margin-right: 5px;
}

.contact-list {
   position: relative;
   left: 40px; top: 150px;
}

.contact-list li{
   display: inline-block;
   margin-left: 10px;
   padding-left: 10px;
   color: #fff;
}

.products p{
   position: relative;
   top: 165px; left: 40px;
   font-size: 20px;
   margin-bottom: 0px;
}

.products ul{
   position: relative;
   top: 175px;
}

.products li {
   color:white;
   position: relative;
   left: 200px;
   display: inline-block;
   margin-left: 10px;
   padding-left: 10px;
}
